{
  "openapi": "3.0.1",
  "info": {
    "title": "Connector",
    "version": "2b57ed1, 2025-12-02T09:36:35Z",
    "description": "Enhanced Quivo API documentation with additional descriptions and examples"
  },
  "servers": [
    {
      "url": "https://api.quivo.co/"
    }
  ],
  "tags": [
    {
      "name": "addresses"
    },
    {
      "name": "apiKeyRequests"
    },
    {
      "name": "articles"
    },
    {
      "name": "audits"
    },
    {
      "name": "bundles"
    },
    {
      "name": "carriers"
    },
    {
      "name": "contacts"
    },
    {
      "name": "countries"
    },
    {
      "name": "currencies"
    },
    {
      "name": "customerInquiries"
    },
    {
      "name": "dashboards"
    },
    {
      "name": "files"
    },
    {
      "name": "fulfillmentPlans"
    },
    {
      "name": "inbounds"
    },
    {
      "name": "items"
    },
    {
      "name": "languages"
    },
    {
      "name": "notifications"
    },
    {
      "name": "orders"
    },
    {
      "name": "ping"
    },
    {
      "name": "returnApp"
    },
    {
      "name": "returnLinks"
    },
    {
      "name": "returns"
    },
    {
      "name": "sellers"
    },
    {
      "name": "shipments"
    },
    {
      "name": "shippingServiceGroups"
    },
    {
      "name": "shopOrders"
    },
    {
      "name": "shops"
    },
    {
      "name": "status"
    },
    {
      "name": "storedAddresses"
    },
    {
      "name": "subscriptionPackages"
    },
    {
      "name": "subscriptions"
    },
    {
      "name": "track"
    },
    {
      "name": "transports"
    },
    {
      "name": "users"
    },
    {
      "name": "warehouses"
    }
  ],
  "paths": {
    "/addresses/{sellerId}": {
      "get": {
        "tags": [
          "addresses"
        ],
        "summary": "Get list of addresses stored in the seller's address book",
        "operationId": "addressGet",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressGet"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "post": {
        "tags": [
          "addresses"
        ],
        "summary": "Store a new address in the seller's address book",
        "operationId": "addressPost",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressPost"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressGet"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/addresses/{sellerId}/default/{defaultAddressType}": {
      "get": {
        "tags": [
          "addresses"
        ],
        "summary": "Get default address of given type",
        "operationId": "addressDefaultGet",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "defaultAddressType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SHIP_FROM",
                "PICKUP",
                "RETURN"
              ]
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - defaultAddressType"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressGet"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "put": {
        "tags": [
          "addresses"
        ],
        "summary": "Set default address of given type",
        "operationId": "addressDefaultPut",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "defaultAddressType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SHIP_FROM",
                "PICKUP",
                "RETURN"
              ]
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - defaultAddressType"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressId"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressGet"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "delete": {
        "tags": [
          "addresses"
        ],
        "summary": "Unset default address of given type",
        "operationId": "addressDefaultDelete",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "defaultAddressType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SHIP_FROM",
                "PICKUP",
                "RETURN"
              ]
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - defaultAddressType"
          }
        ],
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/addresses/{sellerId}/{addressId}": {
      "put": {
        "tags": [
          "addresses"
        ],
        "summary": "Update a stored address in the seller's address book",
        "operationId": "addressPut",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - addressId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressGet"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "delete": {
        "tags": [
          "addresses"
        ],
        "summary": "Delete a stored address from the seller's address book",
        "operationId": "addressDelete",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - addressId"
          }
        ],
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/apiKeyRequests": {
      "get": {
        "tags": [
          "apiKeyRequests"
        ],
        "summary": "Get list of API requests",
        "operationId": "getApiKeyRequests",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - query"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sort"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - page"
          },
          {
            "name": "searchAfter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - searchAfter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiRequestGet"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/apiKeyRequests/{sellerId}": {
      "post": {
        "tags": [
          "apiKeyRequests"
        ],
        "summary": "Request API Key",
        "operationId": "requestApiKey",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/articles": {
      "get": {
        "tags": [
          "articles"
        ],
        "summary": "Search articles",
        "operationId": "searchGetArticles",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - query"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sort"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - page"
          },
          {
            "name": "searchAfter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - searchAfter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArticleGetSummary"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/articles/{articleId}": {
      "get": {
        "tags": [
          "articles"
        ],
        "summary": "Get details of article by articleId",
        "operationId": "articlesGetArticle",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - articleId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleGetDetail"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/articles/{sellerId}": {
      "post": {
        "tags": [
          "articles"
        ],
        "summary": "Create a new article",
        "operationId": "articlesPostArticle",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticlePost"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleGetDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/articles/{sellerId}/identifier/{articleIdentifier}": {
      "get": {
        "tags": [
          "articles"
        ],
        "summary": "Get details of article by articleIdentifier",
        "operationId": "articlesGetArticle",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "articleIdentifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - articleIdentifier"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleGetDetail"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/articles/{sellerId}/validate": {
      "post": {
        "tags": [
          "articles"
        ],
        "summary": "Validate article PUT request",
        "operationId": "articlesPostValidate",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticlePost"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleGetDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/articles/{sellerId}/{articleId}": {
      "get": {
        "tags": [
          "articles"
        ],
        "summary": "Get details of article by articleId",
        "operationId": "articlesGetArticle",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - articleId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleGetDetail"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "put": {
        "tags": [
          "articles"
        ],
        "summary": "Update existing article by id",
        "operationId": "articlesPutArticle",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - articleId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleGetDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "delete": {
        "tags": [
          "articles"
        ],
        "summary": "Update existing article by id",
        "operationId": "articlesDeleteArticle",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - articleId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleGetDetail"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/articles/{sellerId}/{articleId}/images": {
      "post": {
        "tags": [
          "articles"
        ],
        "summary": "Stores the article image information",
        "operationId": "articlesPostImage",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - articleId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleImagePost"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleImageGet"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/articles/{sellerId}/{articleId}/images/upload": {
      "post": {
        "tags": [
          "articles"
        ],
        "summary": "Creates a new upload link for the article image",
        "operationId": "articlesPostImageLink",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - articleId"
          },
          {
            "name": "mimeType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - mimeType"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleImageUpload"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/articles/{sellerId}/{articleId}/images/{uuid}": {
      "delete": {
        "tags": [
          "articles"
        ],
        "summary": "Deletes existing article image by uuid",
        "operationId": "articlesDeleteImage",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - articleId"
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - uuid"
          }
        ],
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/articles/{sellerId}/{articleId}/validate": {
      "put": {
        "tags": [
          "articles"
        ],
        "summary": "Validate article PUT request",
        "operationId": "articlesPutValidate",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - articleId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleGetDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/audits": {
      "get": {
        "tags": [
          "audits"
        ],
        "summary": "Search audits",
        "operationId": "auditSearch",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - query"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sort"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - page"
          },
          {
            "name": "searchAfter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - searchAfter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditGet"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/bundles": {
      "get": {
        "tags": [
          "bundles"
        ],
        "summary": "Search bundles",
        "operationId": "searchGetBundles",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - query"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sort"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - page"
          },
          {
            "name": "searchAfter",
            "in": "query",
            "description": "ADD PARAMETER DESCRIPTION HERE - searchAfter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BundleGetSummary"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/bundles/{sellerId}": {
      "post": {
        "tags": [
          "bundles"
        ],
        "summary": "Create a new bundle",
        "operationId": "bundlesPostBundle",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundlePost"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundleGetDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/bundles/{sellerId}/{bundleId}": {
      "get": {
        "tags": [
          "bundles"
        ],
        "summary": "Get details of bundle by bundleId",
        "operationId": "bundlesGetBundle",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "bundleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - bundleId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundleGetDetail"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "put": {
        "tags": [
          "bundles"
        ],
        "summary": "Update existing bundle by id",
        "operationId": "bundlesPutBundle",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "bundleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - bundleId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundleGetDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "delete": {
        "tags": [
          "bundles"
        ],
        "summary": "Delete existing article by id",
        "operationId": "bundlesDeleteBundle",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "bundleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - bundleId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundleGetDetail"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/carriers": {
      "get": {
        "tags": [
          "carriers"
        ],
        "summary": "Get list of all carriers",
        "operationId": "carrierGet",
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CarrierGet"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/contacts/{sellerId}": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "Get all contacts with subscription types for the given seller",
        "operationId": "contactsGet",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactGet"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "Create a new contact for the given seller",
        "operationId": "contactPost",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPost"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactGet"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/contacts/{sellerId}/{contactId}": {
      "put": {
        "tags": [
          "contacts"
        ],
        "summary": "Updates an existing contact for the given seller",
        "operationId": "contactPut",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - contactId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPost"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactGet"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "delete": {
        "tags": [
          "contacts"
        ],
        "summary": "Deletes contact for the given seller",
        "operationId": "contactDelete",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - contactId"
          }
        ],
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/countries": {
      "get": {
        "tags": [
          "countries"
        ],
        "summary": "Get list of all countries",
        "operationId": "countryGet",
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryGet"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/currencies": {
      "get": {
        "tags": [
          "currencies"
        ],
        "summary": "Get list of all currencies",
        "operationId": "currencyGet",
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyGet"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/currencies/exchangeRates": {
      "get": {
        "tags": [
          "currencies"
        ],
        "summary": "Get list of all currency exchange rates",
        "operationId": "currencyExchangeRateGet",
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyExchangeRateGet"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/customerInquiries": {
      "get": {
        "tags": [
          "customerInquiries"
        ],
        "summary": "Search customer inquiries",
        "operationId": "searchGetCustomerInquiries",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - query"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sort"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - page"
          },
          {
            "name": "searchAfter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - searchAfter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerInquirySummary"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "post": {
        "tags": [
          "customerInquiries"
        ],
        "summary": "Create a new customer inquiry.",
        "operationId": "postCustomerInquiry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInquiryPost"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInquiryGet"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "parameters": {
          "0": {
            "description": "ADD PARAMETER DESCRIPTION HERE - body"
          }
        }
      }
    },
    "/customerInquiries/attachments": {
      "post": {
        "tags": [
          "customerInquiries"
        ],
        "summary": "Creates a new upload link for the customer inquiry attachment",
        "operationId": "postAttachmentLink",
        "parameters": [
          {
            "name": "mimeType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - mimeType"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentPostResult"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/customerInquiries/{customerInquiryId}": {
      "get": {
        "tags": [
          "customerInquiries"
        ],
        "summary": "Get details of customer inquiry by customerInquiryId",
        "operationId": "getCustomerInquiry",
        "parameters": [
          {
            "name": "customerInquiryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - customerInquiryId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInquiryGet"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/customerInquiries/{customerInquiryId}/messages": {
      "post": {
        "tags": [
          "customerInquiries"
        ],
        "summary": "Creates a new message for the customer inquiry",
        "operationId": "postCustomerInquiryMessage",
        "parameters": [
          {
            "name": "customerInquiryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - customerInquiryId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInquiryMessagePost"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInquiryGet"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/customerInquiries/{customerInquiryId}/ratings": {
      "post": {
        "tags": [
          "customerInquiries"
        ],
        "summary": "Creates rating message and adds rating to the customer inquiry",
        "operationId": "postCustomerInquiryRating",
        "parameters": [
          {
            "name": "customerInquiryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - customerInquiryId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RatingPost"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInquiryGet"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/customerInquiries/{customerInquiryId}/resolve": {
      "post": {
        "tags": [
          "customerInquiries"
        ],
        "summary": "Resolves customer inquiry and adds resolve message to it",
        "operationId": "postCustomerInquiryResolve",
        "parameters": [
          {
            "name": "customerInquiryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - customerInquiryId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInquiryGet"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/dashboards": {
      "get": {
        "tags": [
          "dashboards"
        ],
        "summary": "Get list of supported dashboard graphs",
        "operationId": "dashboardGet",
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardGet"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "post": {
        "tags": [
          "dashboards"
        ],
        "summary": "Request dashboards",
        "operationId": "dashboardPost",
        "parameters": [
          {
            "name": "sellerId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "warehouse",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - warehouse"
          },
          {
            "name": "range",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - range"
          },
          {
            "name": "rangeStart",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - rangeStart"
          },
          {
            "name": "rangeEnd",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - rangeEnd"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardPost"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/files": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Initiate file upload",
        "operationId": "filesPost",
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilePostResult"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/fulfillmentPlans/{sellerId}": {
      "get": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "List fulfillment plan when entries for given seller",
        "operationId": "fulfillmentPlansGet",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlanWhenGet"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "post": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Create a new fulfillment plan entry for the given seller",
        "operationId": "fulfillmentPlansPost",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanWhenPost"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanWhenGet"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/fulfillmentPlans/{sellerId}/preview": {
      "post": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Previews the results of a fulfillment plan entry for the given seller",
        "operationId": "fulfillmentPlansPreview",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PreviewFulfillmentOrder"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/fulfillmentPlans/{sellerId}/skuAddition": {
      "post": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Add a new SKU addition to the fulfillment plan of the given seller",
        "operationId": "fulfillmentPlansPostSkuAddition",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSkuAdditionRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/fulfillmentPlans/{sellerId}/skuFork": {
      "post": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Add a new SKU fork to the fulfillment plan of the given seller. This is usally used to map sets of products, where one SKU consists of several other SKUs.",
        "operationId": "fulfillmentPlansPostSkuFork",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSkuForkRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/fulfillmentPlans/{sellerId}/skuMapping": {
      "post": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Add a new SKU mapping to the fulfillment plan of the given seller",
        "operationId": "fulfillmentPlansPostSkuMapping",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSkuMappingRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/fulfillmentPlans/{sellerId}/skuRemoval": {
      "post": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Add a new SKU removal to the fulfillment plan of the given seller",
        "operationId": "fulfillmentPlansPostSkuRemoval",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSkuRemovalRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/fulfillmentPlans/{sellerId}/{planWhenId}": {
      "put": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Updates an existing fulfillment plan entry for the given seller.",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "fulfillmentPlansPut",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "planWhenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - planWhenId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanWhenPost"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanWhenGet"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "fulfillmentPlans"
        ],
        "summary": "Deletes the given fulfillment plan when entry for the given seller",
        "operationId": "fulfillmentPlansDelete",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          },
          {
            "name": "planWhenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - planWhenId"
          }
        ],
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/inbounds": {
      "get": {
        "tags": [
          "inbounds"
        ],
        "summary": "Search inbounds",
        "operationId": "searchGetInbounds",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - query"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sort"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - page"
          },
          {
            "name": "searchAfter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - searchAfter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InboundSummary"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "post": {
        "tags": [
          "inbounds"
        ],
        "summary": "Create a new inbound.",
        "operationId": "postInbound",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboundPost"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboundPostResult"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "parameters": {
          "0": {
            "description": "ADD PARAMETER DESCRIPTION HERE - body"
          }
        }
      }
    },
    "/inbounds/{inboundId}": {
      "get": {
        "tags": [
          "inbounds"
        ],
        "summary": "Get details of inbound by inboundId",
        "operationId": "getInbound",
        "parameters": [
          {
            "name": "inboundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - inboundId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboundGet"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "put": {
        "tags": [
          "inbounds"
        ],
        "summary": "Update existing inbound by id",
        "operationId": "putInbound",
        "parameters": [
          {
            "name": "inboundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - inboundId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboundGet"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "delete": {
        "tags": [
          "inbounds"
        ],
        "summary": "Cancel inbound by inboundId",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "inboundCancel",
        "parameters": [
          {
            "name": "inboundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - inboundId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/{inboundId}/validate": {
      "put": {
        "tags": [
          "inbounds"
        ],
        "summary": "Check missing inbound data and update it",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "inboundValidate",
        "parameters": [
          {
            "name": "inboundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - inboundId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/items": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "Search items",
        "operationId": "itemGet",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - query"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sort"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - page"
          },
          {
            "name": "searchAfter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - searchAfter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ItemInfo"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/items/itemHistories/{warehouseId}/{sellerId}": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "Get details of item history",
        "operationId": "itemHistoryGet",
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "description": "ADD PARAMETER DESCRIPTION HERE - warehouseId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "sellerId",
            "in": "path",
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "ADD PARAMETER DESCRIPTION HERE - query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "ADD PARAMETER DESCRIPTION HERE - sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "ADD PARAMETER DESCRIPTION HERE - page",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "searchAfter",
            "in": "query",
            "description": "ADD PARAMETER DESCRIPTION HERE - searchAfter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "ADD PARAMETER DESCRIPTION HERE - pageSize",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "movementFrom",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - movementFrom"
          },
          {
            "name": "movementTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - movementTo"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ItemHistorySummary"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/items/seller/{sellerId}/refresh": {
      "post": {
        "tags": [
          "items"
        ],
        "summary": "Refresh/Sync inventory with Warehouse",
        "operationId": "itemsInventorySyncWithWarehouse",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/items/{itemId}": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "Get details of item by itemId",
        "operationId": "itemGetItem",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - itemId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemInfo"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/items/{itemId}/movements": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "Search item movements",
        "operationId": "itemGetMovements",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - itemId"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - page"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - pageSize"
          },
          {
            "name": "movementFrom",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - movementFrom"
          },
          {
            "name": "movementTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - movementTo"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemMovements"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/items/{itemId}/refresh": {
      "post": {
        "tags": [
          "items"
        ],
        "summary": "Refresh/sync inventory with warehouse for an item",
        "operationId": "itemRefreshWithWarehouse",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - itemId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemInfo"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/items/{warehouseId}/{sellerId}": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "Search items by warehouse and seller",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "itemGetWarehouseSeller",
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "description": "ADD PARAMETER DESCRIPTION HERE - warehouseId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "sellerId",
            "in": "path",
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "ADD PARAMETER DESCRIPTION HERE - query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "ADD PARAMETER DESCRIPTION HERE - sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "ADD PARAMETER DESCRIPTION HERE - page",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "searchAfter",
            "in": "query",
            "description": "ADD PARAMETER DESCRIPTION HERE - searchAfter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "ADD PARAMETER DESCRIPTION HERE - pageSize",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ItemInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/{warehouseId}/{sellerId}/storages": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "Search items storages by warehouse and seller",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "itemStorageGetWarehouseSeller",
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "description": "ADD PARAMETER DESCRIPTION HERE - warehouseId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "sellerId",
            "in": "path",
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "isBlocked",
            "in": "query",
            "description": "ADD PARAMETER DESCRIPTION HERE - isBlocked",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "ADD PARAMETER DESCRIPTION HERE - sort",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ItemInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "tags": [
          "languages"
        ],
        "summary": "Get list of all languages",
        "operationId": "languageGet",
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LanguageGet"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/notifications": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "Search for notifications",
        "operationId": "notificationGet",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - query"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sort"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - page"
          },
          {
            "name": "searchAfter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - searchAfter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotificationSummary"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/notifications/id/{notificationId}": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "Get details of notification by id",
        "operationId": "notificationsGetNotification",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - notificationId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationDetail"
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "put": {
        "tags": [
          "notifications"
        ],
        "summary": "Sets the resolved timestamp to the current date",
        "operationId": "notificationResolve",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - notificationId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "delete": {
        "tags": [
          "notifications"
        ],
        "summary": "Sets the resolved timestamp to null",
        "operationId": "notificationRemoveResolve",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - notificationId"
          }
        ],
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/notifications/notificationTypes": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "Get list of all notification types with categories",
        "operationId": "notificationGetTypes",
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotificationTypeDetail"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/notifications/test-email": {
      "post": {
        "tags": [
          "notifications"
        ],
        "summary": "Sends test email",
        "operationId": "notificationTestEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationDetailImportantAdmin"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "parameters": {
          "0": {
            "description": "ADD PARAMETER DESCRIPTION HERE - body"
          }
        }
      }
    },
    "/notifications/{hash}": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "Get details of notification by hash",
        "operationId": "notificationsGetNotification",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - hash"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationDetail"
                }
              }
            }
          }
        },
        "deprecated": true,
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "put": {
        "tags": [
          "notifications"
        ],
        "summary": "Sets the resolved timestamp to the current date",
        "operationId": "notificationResolve",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - hash"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "deprecated": true,
        "x-codegen-request-body-name": "body",
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      },
      "delete": {
        "tags": [
          "notifications"
        ],
        "summary": "Sets the resolved timestamp to null",
        "operationId": "notificationRemoveResolve",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - hash"
          }
        ],
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "deprecated": true,
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/notifications/{notificationId}/seen": {
      "post": {
        "tags": [
          "notifications"
        ],
        "summary": "Sets the resolved timestamp to the current date",
        "operationId": "notificationSeen",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - notificationId"
          }
        ],
        "responses": {
          "default": {
            "description": "ADD RESPONSE DESCRIPTION HERE - default",
            "content": {}
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/notifications/{sellerId}/notificationTypes": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "Get list of all notification types with categories",
        "operationId": "notificationGetTypesSeller",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ADD PARAMETER DESCRIPTION HERE - sellerId"
          }
        ],
        "responses": {
          "200": {
            "description": "ADD RESPONSE DESCRIPTION HERE - 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotificationTypeDetail"
                  }
                }
              }
            }
          }
        },
        "description": "ADD ENDPOINT DESCRIPTION HERE"
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Search for orders",
        "description": "ADD ENDPOINT DESCRIPTION HERE",
        "operationId": "orderGet",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
[...]
